<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiguang.jpush">

    <!-- 极光Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!--华为角标-->
    <uses-permission
        android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>

    <!--vivo 角标-->
    <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON" />

    <!--honor_permission_start-->
    <queries>
        <intent>
            <action android:name="com.hihonor.push.action.BIND_PUSH_SERVICE" />
        </intent>
    </queries>
    <!--honor_permission_end-->
    <!--xiaomi_permission_start-->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />
    <!--xiaomi_permission_end-->
    <!--oppo_permission_start-->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <!--oppo_permission_end-->
    <!--meizu_permission_start-->
    <uses-permission android:name="com.meizu.flyme.permission.PUSH" />
    <!--meizu_permission_end-->

    <application>
        <!-- 这应该是v3.3之前版本使用的接收通知处理方式        -->
        <receiver
            android:name="com.jiguang.jpush.JPushPlugin$JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver android:name="com.jiguang.jpush.JPushEventReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name=".JPushCustomService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能  通过在线配置自动引入在jpush库中 -->
<!--        <receiver-->
<!--            android:name="cn.jpush.android.service.PushReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="false">-->
<!--            <intent-filter android:priority="1000">-->
<!--                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> &lt;!&ndash; Required  显示通知栏 &ndash;&gt;-->
<!--                <category android:name="${JPUSH_PKGNAME}" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
<!--            </intent-filter>-->
<!--            &lt;!&ndash; Optional &ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
<!--                <action android:name="android.intent.action.PACKAGE_REMOVED" />-->

<!--                <data android:scheme="package" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- Required SDK核心功能 通过在线配置自动引入在jpush库中 -->
<!--        <receiver-->
<!--            android:name="cn.jpush.android.service.AlarmReceiver"-->
<!--            android:exported="false" />-->

        <!--xiaomi_config_start 通过在线配置自动引入-->

        <!--xiaomi_config_end-->

        <!--huawei_config_start 通过在线配置自动引入-->
        <!--huawei_config_end-->

        <!--meizu_config_start 通过在线配置自动引入-->
        <!--meizu_config_end-->

        <!--fcm_config_start 通过在线配置自动引入-->

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/jpush_notification_icon" />-->
        <!--fcm_config_end-->

        <!--oppo_config_start 通过在线配置自动引入-->
        <!-- since JPushv3.6.8 ，oppov2.1.0 oppo 核心功能-->
<!--        <service android:name="com.heytap.msp.push.service.DataMessageCallbackService">-->
        <!--兼容Q版本-->
        <!--oppo_config_end-->

        <!--vivo_config_start 通过在线配置自动引入-->
        <!--vivo_config_end-->

        <!--honor_config_start 通过在线配置自动引入-->
        <!--honor_config_end-->


    </application>

</manifest>
